* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Mont", Arial, sans-serif;
  color: #444444;
}

.header {
  width: 320px;
  height: 540px;
  background-image: url(../../imges/img-320/Background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.header--title {
  width: 153px;
  height: 170px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.header--title__p {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  font-family: "Mont", Arial, sans-serif;
}
.header--title--btns {
  width: 153px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  font-family: "Mont", Arial, sans-serif;
}
.header--title--btns__btn1 {
  width: 44px;
  color: #fff;
  text-decoration: none;
}
.header--title--btns__btn2 {
  width: 90px;
  padding: 7px 0;
  color: #fff;
  text-decoration: none;
  border: solid 2px white;
  border-radius: 50px;
  display: block;
  text-align: center;
}
.header--info {
  width: 281px;
  height: 200px;
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 120px;
  font-family: "Mont", Arial, sans-serif;
}
.header--info__h1 {
  font-size: 30px;
  font-weight: 700;
}
.header--info__p {
  width: 260px;
  font-weight: 300;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
}
.header--info__btn {
  width: 280px;
  background-color: #FF4E50;
  text-decoration: none;
  color: #fff;
  border-radius: 50px;
  padding: 11px 0;
}

.article1 {
  width: 320px;
  height: 780px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}
.article1--blocks {
  width: 300px;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article1--blocks--element {
  width: 300px;
  height: 240px;
  background-image: url(../../imges/img-320/step1.png);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.article1--blocks--element--content {
  width: 250px;
  height: 150px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: #fff;
}
.article1--blocks--element--content__btn {
  width: 70px;
  color: #fff;
  background-color: #FF4E50;
  border-radius: 50px;
  text-decoration: none;
  padding: 4px 0;
  font-weight: 400;
  font-size: 10px;
  display: block;
  text-align: center;
  font-family: "Mont", Arial, sans-serif;
}
.article1--blocks--element--content__h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Mont", Arial, sans-serif;
}
.article1--blocks--element--content__p {
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", Arial, sans-serif;
}
.article1--blocks--element2 {
  width: 300px;
  height: 240px;
  background-image: url(../../imges/img-320/step2.png);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.article1--blocks--element3 {
  width: 300px;
  height: 240px;
  background-image: url(../../imges/img-320/step3.png);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.article2 {
  width: 320px;
  height: 1000px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 35px;
}
.article2__h2 {
  width: 280px;
}
.article2--accounts {
  width: 236px;
  height: 870px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.article2--accounts--element {
  width: 236px;
  height: 205px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.article2--accounts--element__avatar {
  width: 120px;
}
.article2--accounts--element__h6 {
  font-size: 14px;
  font-weight: 700;
  font-family: "Mont", Arial, sans-serif;
}
.article2--accounts--element__p {
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", Arial, sans-serif;
}
.article2__btn {
  width: 280px;
  padding: 10px 0;
  display: block;
  font-family: "Mont", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FF4E50;
  border-radius: 50px;
  border: 2px solid #FF4E50;
  text-decoration: none;
}

.article3 {
  width: 320px;
  height: 970px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 35px;
}
.article3__h2 {
  width: 230px;
}
.article3--fotos {
  width: 300px;
  height: 900px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family: "Mont", Arial, sans-serif;
}
.article3--fotos--element1 {
  width: 300px;
  height: 120px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url(../../imges/img-320/Object.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.article3--fotos--element1__p {
  width: 180px;
}
.article3--fotos--element2 {
  width: 300px;
  height: 120px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url(../../imges/img-320/Object2.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.article3--fotos--element2__p {
  width: 180px;
}
.article3--fotos--element3 {
  width: 300px;
  height: 120px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url(../../imges/img-320/Object3.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.article3--fotos--element3__p {
  width: 180px;
}
.article3--fotos--element4 {
  width: 300px;
  height: 120px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url(../../imges/img-320/Object4.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.article3--fotos--element5 {
  width: 300px;
  height: 120px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url(../../imges/img-320/Object5.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.article3--fotos--element6 {
  width: 300px;
  height: 120px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url(../../imges/img-320/Object6.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.article3--fotos--element7 {
  width: 300px;
  height: 120px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url(../../imges/img-320/Object7.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

.article4 {
  width: 320px;
  height: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 35px;
}
.article4__h2 {
  width: 230px;
}
.article4__p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #666666;
}
.article4--input {
  width: 280px;
  height: 90px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.article4--input__text {
  width: 280px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #D4D4D4;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", Arial, sans-serif;
}
.article4--input__btn {
  width: 280px;
  display: block;
  background-color: #FF4E50;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 11px 0;
  font-weight: 700;
  font-size: 14px;
  font-family: "Mont", Arial, sans-serif;
}

.footer {
  width: 320px;
  height: 300px;
  padding-top: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  font-family: "Mont", Arial, sans-serif;
}
.footer--text {
  width: 290px;
  height: 204px;
  padding-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer--text__title {
  font-size: 16px;
  font-weight: 400;
  color: #FF4E50;
  font-family: "Mont", Arial, sans-serif;
}
.footer--text--company {
  width: 280px;
  height: 75px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer--text--company__h2 {
  font-size: 14px;
  font-weight: 700;
}
.footer--text--company--info {
  width: 180px;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: "Roboto", Arial, sans-serif;
}
.footer--text--company--info__p {
  font-size: 14px;
  font-weight: 300px;
  color: #CCC;
}
.footer--text__h2 {
  font-size: 14px;
  font-weight: 700;
}
.footer--text--logo {
  width: 110px;
  height: 45px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.footer--text--logo__h2 {
  font-size: 10px;
  font-weight: 700;
  font-size: 10px;
  color: #CCC;
}
.footer--text--logo__img {
  width: 110px;
  height: 24px;
}

/*# sourceMappingURL=style.css.map */
